body {
    background-image: url('images/Nightsky.PNG');
    background-size: cover;
    background-attachment: fixed;



    font-family: 'Hello Valentica';
    src: url('./fonts/hello_valentica.ttf');
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    z-index: -1;
}

img {
    display: inline-block;
    max-height: 300px;

}

.navigation ul {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.navigation ul li {
    border: 8px white solid;
    border-radius: 16px 16px 0 0;

    padding: 4px 0;

    font-size: 2em;
    text-align:center;
    
    flex: 1;
}

.navigation ul li a {
    color:white;
    text-decoration: none;
}


.page-container {
    max-width: 550px;

    margin: auto;
}

.flexbox-hack {
    position: relative;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.content-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 20px 20px;

    z-index: -1;
}

.content {
    background-color:white;
    border-radius: 0 0 20px 20px;
    padding: 25px 32px 25px 32px;

    color: #3c3a51;
}

.self-info {
    display: flex;

    gap: 18px;
}

.self-info p {
    text-align: justify;
}

.self-photo {
    display: inline-block;
    margin-left: 4;
    margin-right: 3;

    border-radius: 10px;
}

.heart-line-container {
    display: flex;
}

.heart-line-container:before {
    content: "♡";
    display: inline-block;
}

.heart-line-container:after {
    content: "♡";
    display: inline-block;
}

.heart-line {
    border: none;
    border-top: 4.7px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    flex-grow: 1;
}

.heart-line:after {
    background: #fff;
    content: "ʚ♡ɞ";
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.big.heart-line-container {
    margin-bottom: -12px;
}

.big.heart-line-container:before {
    font-size: 1.7em;
    position:relative;
    top: -10px;
}

.big.heart-line-container:after {
    font-size: 1.7em;
    position:relative;
    top: -10px;
}

.big .heart-line {
    border-top: 6px double #333;
    height: 10px;
}

.big .heart-line:after {
    font-size: 2em;
    top: -25px;
}

.name-title {
    margin:8px 0;
    font-size: 3.6em;
    text-align:center;

}

.name-title-subheading{
   font-size: 1.6em;
   text-align:center;
}

.contacts {
    padding: 0;
    margin: 0;

    list-style: none;
    text-align: center;

    font-size: 1.5em;

}

.contacts-title {
    margin: 0;
    text-align: center;
    font-size: 1.8em;
}

.contacts li a {
    text-decoration: none;
    color: black;
}

.screen {
    mix-blend-mode: screen;
}

.star-container {
    display: flex;
    justify-content: space-between;
}

.small.star-container .star {
    font-size: 2.2em;
}

.star {
    font-size: 2.6em;
    text-align: center;
    line-height: 1;
}

.page-container > .star-container {
    color: white;
}

.tall-line {
    height: 3em;
    width: 3px;

    margin: auto;

    background-color: black;

    position: relative;
}

.star-sparkle {
    position: relative;
}

.sparkle {
    position: absolute;

    font-size: 0.5em

}

.sparkle.left {
    left: 45px;
}

.sparkle.right {
    right: 45px;
}

.sparkle.left.middle {
    left: 30px;
    top: 0em;
}

.sparkle.right.middle {
    right: 30px;
    top: 0em;
}

.title {
    margin: 0;
    margin-top: 14px;
    font-size: 3em;
    text-align: center;
}

.self-photo-container{
    position: relative; 
}

.tools {
    padding: 8px 12px;

    line-height: 0.8;

    color:white;
    background-image: url('images/Nightsky.PNG');

    position:absolute;

    bottom: -8px;
    right: -16px;

    border-radius: 9px;

    box-shadow: 4px 4px 10px rgba(44, 42, 59, .5);
}

.tools p {
    font-size: 2.2em;
    line-height: 2px;
    margin: 0;
}

.tools ul {
    margin: 16px 0 10px;
    padding-left: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery img {
    max-width: 100%;
    height:auto;
}